html,
body {
  overscroll-behavior: none;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

body {
  font-family: Arial Black, sans-serif;
  text-align: center;
  background: #000;
  height: 2000vh;
}

.TextContainer {
  position: fixed;
  left: 0;
  top: 0.5vw;
  width: 100%;
  font-weight: 900;
  letter-spacing: .25em;
  text-align: center;
  color: #161616;
  font-stretch: expanded;
  text-transform: uppercase;
  -webkit-text-stroke: #2d2d2d 1px;
}